<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%=title%></h1>
    <ul>
      <% for(const msg of messages) {%>
      <li><%=msg.user%></li>
      <li><%=msg.text%></li>
      <li><%=msg.added%></li>
      <% } %>
    </ul>
  </body>
</html>
